{% include "qrcodetpl/partials/head.html" %}

<body>
  <header>
    <div class="header-container">
      <h1>Adesivos Arbomonitor</h1>
    </div>
  </header>

  <main>
    <section class="form-section">
      {% include "qrcodetpl/partials/adesivoarbo.html" %}
    </section>
  </main>

  <footer>
    <p>&copy; 2025 Dominus Química • Desenvolvido por André Henrique</p>
  </footer>

  <script>
    const fileInput = document.getElementById('imagem');
    const previewArea = document.querySelector('.file-upload-label');

    fileInput.addEventListener('change', function(event) {
      const file = event.target.files[0];
      if (file) {
        const reader = new FileReader();
        reader.onload = function(e) {
          previewArea.classList.add('has-preview');
          previewArea.style.backgroundImage = `url(${e.target.result})`;
        }
        reader.readAsDataURL(file);
      }
    });
  </script>

</body>
</html>