{% extends "global/html/basetemplate.html" %}
{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'qrcodeinit/css/styles.css' %}">
{% endblock style %}

{% block title %}Gerador QRs{% endblock title %}

<body>
  <header>
    <div class="header-container">
      {% block header %}Gerador de QR Codes Sequenciais{% endblock header %}
    </div>
  </header>

  <main>
    {% block content %}
      <section class="form-section">
        {% include "qrcodetpl/partials/qrcode_main.html" %}
      </section>
    {% endblock content %}
  </main>

  <footer>
    <p>&copy; 2025 Dominus Química • Desenvolvido por André Henrique</p>
  </footer>
</body>
</html>